{% extends "layout.html" %}
{% block title %}Index{% endblock %}
{% block h1 %}Top 1000 Genes{% endblock %}

{% block sidebar %}
<a href="{{url_for('root')}}">Index</a><br>
<a href="{{url_for('new_gene')}}">Ajouter un gène</a><br>
<a href="{{url_for('page_de_test')}}"> TEST </a>
{% endblock %}

{% block content %}
{% if rm %}
<p> The gene {{ rm }} has been removed.</p>
<br>
{% endif %}

  <table>
    <tr>
      <th>Gene ID</th>
      <th>Associated gene name</th>
      <th></th>
    </tr>
    {% for gene in table %}
      <tr>
        <td style="text-align:center;">
          <a href="{{url_for('view_gene', id=gene[0])}}">
            {{ gene[0] }}</td>
        <td style="text-align:center;">{{ gene[1] }}</td>
        <td>
          <form action="{{url_for('del_gene', id=gene[0])}}" method="post">
            <input type="button" name="{{gene[0]}}" value="Delete" onclick="this.form.submit();">
          </form>
        </td>
      </tr>
    {% endfor %}
  </table>
{% endblock %}
