<!DOCTYPE html PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN">
<html>
  <head>
    <meta name="viewport" content="text/html; charset=utf-8" http-equiv="content-type">
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
    {% block head %}
    <title>{% block title %}{% endblock %} - Ensembl Database</title>
    {% endblock %}
  </head>
  <body>
    <div class="container">
      <div class="cell header-cell">PAGE DE TEST</div>
      <div class="cell navbar-cell">
        <a href="{{url_for('root')}}">Index</a>
      </div>
      <div class="cell main-cell">3.</div>
      <div class="cell footer-cell">5.</div>
    </div>
  </body>
</html>
